@use '../../assets/styles/variables.scss' as Variables;

.bdGrid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: Variables.$mb2;
  margin-right: Variables.$mb2;
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.sectionTitle {
  position: relative;
  font-size: Variables.$h2FontSize;
  color: Variables.$firstColor;
  margin-top: Variables.$mb2;
  margin-bottom: Variables.$mb4;
  text-align: center;
}

.sectionTitle::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: Variables.$firstColor;
}

.skillsContainer {
  row-gap: 2rem;
  text-align: center;
}

.skillsSubtitle {
  margin-bottom: Variables.$mb2;
}

.skillsText {
  margin-bottom: Variables.$mb4;
}

.skillsData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: Variables.$fontSemi;
  padding: 0.5rem 1rem;
  margin-bottom: Variables.$mb4;
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

.skillsIcon {
  font-size: 2rem;
  margin-right: Variables.$mb2;
  color: Variables.$firstColor;
}

.skillsNames {
  display: flex;
  align-items: center;
}

.skillsBar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: Variables.$firstColor;
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: Variables.$zBack;
}

.skillsImg {
  border-radius: 0.5rem;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .sectionTitle {
    font-size: Variables.$h2FontSizeMax;
    margin-bottom: Variables.$mb6;
  }

  .sectionTitle::after {
    width: 80px;
    top: 3rem;
  }

  .skillsContainer {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
}

@media screen and (min-width: 1024px) {
  .bdGrid {
    margin-left: auto;
    margin-right: auto;
  }
}
