@use '../../assets/styles/variables.scss' as Variables;

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.sectionTitle {
  position: relative;
  font-size: Variables.$h2FontSize;
  color: Variables.$firstColor;
  margin-top: Variables.$mb2;
  margin-bottom: Variables.$mb4;
  text-align: center;
}

.sectionTitle::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: Variables.$firstColor;
}

.bdGrid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: Variables.$mb2;
  margin-right: Variables.$mb2;
}

.contactInput {
  width: 100%;
  font-size: Variables.$normalFontSize;
  font-weight: Variables.$fontSemi;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid Variables.$secondColor;
  outline: none;
  margin-bottom: Variables.$mb4;
}

.contactButton {
  width: 10rem;
  display: block;
  border: none;
  outline: none;
  font-size: Variables.$normalFontSize;
  cursor: pointer;
  margin-left: auto;
}

.button {
  display: inline-block;
  background-color: Variables.$firstColor;
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: Variables.$fontSemi;
  border-radius: 0.5rem;
}

.button:hover {
  box-shadow: 0 10px 36px Variables.$bShadow;
}

.button:disabled {
  cursor: not-allowed;
}

.messageContainer {
  padding-top: 1rem;
  color: Variables.$secondColor;
}

.message {
  color: Variables.$secondColor;
}

.loader {
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .sectionTitle {
    font-size: Variables.$h2FontSizeMax;
    margin-bottom: Variables.$mb6;
  }

  .sectionTitle::after {
    width: 80px;
    top: 3rem;
  }

  .contactContainer {
    justify-items: center;
  }

  .contactForm {
    width: 360px;
  }

  .contactInput {
    font-size: Variables.$normalFontSizeMax;
  }

  .contactButton {
    font-size: Variables.$normalFontSizeMax;
  }
}

@media screen and (min-width: 1024px) {
  .bdGrid {
    margin-left: auto;
    margin-right: auto;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
